# Raw sequencing data
data/

# Genome and indexes
genome/

# Trimmed reads
results/trimmed/

# QC reports
results/qc/*.html
results/qc/*.zip
results/qc/*.json

# Alignment files
results/alignment/*.sam
results/alignment/*.bam
results/alignment/*.bai

# FASTQ files
*.fastq.gz

# HISAT2 indexes
*.ht2
