# Ignore outputs
data/*
genome/*
results/*

# Keep folder structure
!data/README.md
!genome/README.md
!results/README.md

# Alignment files (redundante pero ok si quieres ser explícito)
*.bam
*.sam
*.bai

# FASTQ
*.fastq.gz

# HISAT2 index
*.ht2*
